.site-title strong {
  font-weight: 700;
  text-shadow:
    1px 1px 0 $eha-green,
    -1px 1px 0 $eha-green,
    1px -1px 0 $eha-green,
    -1px -1px 0 $eha-green,
    1px 0px 0 $eha-green,
    -1px 0px 0 $eha-green,
    0px 1px 0 $eha-green,
    0px -1px 0 $eha-green;
  font-size:95%;
  line-height: 95%;
  position:relative;
  top: -1px;


  -webkit-font-smoothing: antialiased;
}

.header-logo {
  display: block;
  width: 383px;
  float:left;
  margin:0;
        @include media-query($on-laptop) {
          width: 224px;
        }
}

.header-logo svg {
  width:100%;
  margin: 0;

          @include media-query($on-laptop) {
            height: 81px;
          }
}

.site-nav li {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;

}

.site-nav li:after {
    content: "|";
      padding-left: 12px;
      padding-right: 10px;
}

.site-nav li:last-child:after {
  content: none;
}

.b-nav-list > li {
  display: inline-block;
  vertical-align: middle;
}

.b-nav-list_minor {
  padding: 15px 35px;
  margin-bottom: 15px;
  background: #124955;
  background: url('../images/rgbapng/16434db3-5.png@1453755820');
  background: rgba(22, 67, 77, 0.7);
}
.b-nav-list_minor li {
  text-transform: uppercase;
}
.b-nav-list_minor li:after {
  content: "|";
  display: inline-block;
  color: #64a4b5;
  padding-left: 12px;
  padding-right: 10px;
}
.b-nav-list_minor li:last-child:after {
  content: none;
}
.b-nav-list_minor a {
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  color: #64a4b5;
  font-size: 13px;
}
.b-nav-list_minor a:hover {
  color: #fff;
}

.b-nav-list_major {
  text-align: right;
}
.b-nav-list_major > li {
  padding: 25px 30px 35px;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
.b-nav-list_major > li.active {
  z-index: 10;
  background: #fff;
}
.b-nav-list_major > li.active .b-nav-link {
  color: #8ec549;
}
.b-nav-list_major .b-nav-link {
  font-size: 26px;
}

.b-nav-link {
  color: #fff;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.b-nav-link:hover {
  color: #8ec549;
}

.b-top-nav-link {
  color: #fff;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.b-top-nav-link:hover {
  color: #8ec549;
}

.b-nav-drop {
  background: #fff;
  position: absolute;
  left: 50%;
  margin-left: -550px;
  top: 100%;
  width: 1100px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
  -moz-transition: opacity 0.2s, visibility 0s 0.2s;
  -o-transition: opacity 0.2s, visibility 0s 0.2s;
  -webkit-transition: opacity 0.2s, visibility 0s;
  -webkit-transition-delay: 0s, 0.2s;
  transition: opacity 0.2s, visibility 0s 0.2s;
}
.b-nav-drop.visible {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  visibility: visible;
  -moz-transition: opacity 0.2s, visibility 0s 0s;
  -o-transition: opacity 0.2s, visibility 0s 0s;
  -webkit-transition: opacity 0.2s, visibility 0s;
  -webkit-transition-delay: 0s, 0s;
  transition: opacity 0.2s, visibility 0s 0s;
}
.b-nav-drop.b-nav-drop-single {
  width: 550px;
  margin-left: -225px;
}
@media only screen and (max-width: 1200px) {
  .b-nav-drop {
    width: 100%;
    margin: 0;
    left: 0;
  }
}
